div.wrapper {
  width: 80%;
  height: 500px;
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
div.wrapper > div.circle {
  width: 150px;
  height: 150px;
  background-color: whitesmoke;
  cursor: pointer;
border-radius: 100%;
  transition: all 500ms linear;
}
